<div class="svg-container">
  <svg preserveAspectRatio="xMidYMid meet" class="svg-content" #svg>
    <svg:g [appZoomableOf]="svg">
      <svg:g [appPosition]="center">
        <svg:g>
          <svg:g *ngFor="let layer of (landscape | async)?.layers" [appLayer]="layer" data-type="layer"></svg:g>
        </svg:g>
        <svg:g>
          <svg:g *ngFor="let context of (landscape | async)?.contexts" [appContext]="context" data-type="context"></svg:g>
        </svg:g>
        <svg:g>
          <svg:g *ngFor="let domain of (landscape | async)?.domains" [appDomain]="domain" data-type="domain"></svg:g>
        </svg:g>
        <svg:g>
          <svg:g *ngFor="let component of (landscape | async)?.components" [appComponent]="component" data-type="component"></svg:g>
        </svg:g>
        <svg:g>
          <svg:g *ngFor="let dependency of (landscape | async)?.dependencies" [appDependency]="dependency" data-type="dependency"></svg:g>
        </svg:g>
      </svg:g>
    </svg:g>
  </svg>
</div>

